<%- include("header") -%>
<section>
	<div class="container">
		<div class="row list-section box-radius">
			<div class="col-sm big-heading">
				<h1>Hola!</h1>
				<h1>Username.</h1>
				<h1>Your<br><%= listCategory %> List.</h1>
			</div>
			<div class="col-sm">
				<div class="col-md-auto date list-box box-radius">
					<h2><%= displayDate %></h2>
				</div>	
				<div class="col-sm box">
					<% if (newListItem.length === 0) { %>
					<div class="col-sm item">
						<p>Your list is empty!!</p>
					</div>
					<% } %>
					<% newListItem.forEach(function(items) { %>
					<form action="/delete" method="post">
						<div class="col-sm item">
							<input type="checkbox" name="checkbox" value="<%= items._id %>"onChange="this.form.submit()">
							<p><%= items.description %></p>
						</div>
						<input type="hidden" name="listName" value="<%= listCategory %>"></input>
					</form>
					<% }) %>

				</div>
			</div>
		</div>
		<div class="row input-area">
			<div class="col">
				<form action="/" method="post">
					<input class="box-radius" type="text" name="newItem" placeholder="  Enter Your Task" autocomplete="off">
					<button type="submit" name="list" value="<%= listCategory %>">+</button>
				</form>
			</div>
		</div>
	</div>
</section>

<%- include("footer") -%>