<%- include("header") -%>
	<section>
		<div class="container">
			<div class="row list-section box-radius">
				<div class="col-sm big-heading">
					<h1>Hola!</h1>
					<h1>Username.</h1>
					<h1>Today's <%= listCategory %> List.</h1>
				</div>
				<div class="col-sm">
					<div class="col-md-auto date list-box box-radius">
						<h2><%= displayDate %></h2>
					</div>	
					<div class="col-sm box">
						<% for (var i = 0; i < newListItem.length; i++) { %>
						<div class="col-sm item">
							<input type="checkbox">
							<p><%= newListItem[i] %></p>
						</div>
						<% } %>
					</div>
				</div>
			</div>
			<div class="row input-area">
				<div class="col">
					<form action="/" method="post">
						<input class="box-radius" type="text" name="newItem" placeholder="  Enter Your Task" autocomplete="off">
						<button type="submit" name="list" value = <%= listCategory %>>+</button>
					</form>
				</div>
			</div>
		</div>
	</section>

<%- include("footer") -%>